body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    background-image: radial-gradient(circle, #000033, #000000),
    repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(0, 0, 51, 0.5) 10px, rgba(0, 0, 51, 0.5) 20px);
    font-family: 'Helvetica Neue', Arial, sans-serif;
    flex-direction: column;
}

.container {
    text-align: center;
}

h1 {
    font-family: 'Georgia', serif;
    font-size: 3.5em;
    color: #FFFFFF;
    text-shadow: 2px 2px 8px #00BFFF;
}

.buttons {
    margin-top: 20px;
}

.yes-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #007BFF;
    color: white;
    border: 2px solid #00BFFF;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.yes-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #004080;
    color: white;
    border: 2px solid #0056b3;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.no-button:hover {
    background-color: #003366;
    transform: scale(1.05);
}

.gif_container img {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    border: 3px solid #007BFF;
    box-shadow: 0 0 15px #00BFFF;
}

/* Slideshow container */
.slideshow-container {
  max-width: 300px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
